## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
from config import Google_API_KEY
# Configure gmaps
gmaps.configure(api_key=Google_API_KEY)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/vacation_search.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Bredasdorp,ZA,56.52,broken clouds,-34.5322,20.0403,Bredasdorp
1,1,Mataura,NZ,65.48,scattered clouds,-46.1927,168.8643,Gore
2,2,Hobart,AU,64.26,broken clouds,-42.8794,147.3294,Hobart
3,7,Diamantina,BR,63.88,overcast clouds,-18.2494,-43.6003,Diamantina
4,14,Jalu,LY,52.38,clear sky,29.0331,21.5482,Jalu

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center =(30,31), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

# 4b. Display the figure
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
usa_vacation_df = vacation_df.loc[(vacation_df["Country"] == "US")]
usa_vacation_df.dropna()
usa_vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,23,Russell,US,51.40,clear sky,32.3502,-85.1999,Russell County High School
20,71,Lompoc,US,63.79,scattered clouds,34.6391,-120.4579,Lompoc
30,131,Saint George,US,66.79,clear sky,37.1041,-113.5841,St. George
50,212,Laguna,US,66.76,clear sky,38.4210,-121.4238,Sacramento
51,213,Seminole,US,57.56,clear sky,28.7086,-81.2081,Winter Springs
67,284,Portland,US,51.91,overcast clouds,45.5234,-122.6762,Portland
68,291,La Palma,US,69.91,clear sky,33.8464,-118.0467,Buena Park
69,303,San Ramon,US,60.93,clear sky,37.7799,-121.9780,San Ramon
71,317,Prescott,US,55.27,clear sky,34.5400,-112.4685,Prescott
79,373,Magalia,US,58.55,scattered clouds,39.8121,-121.5783,Paradise

In [6]:
new_column_order = ["City_ID", "City", "Country", "Lat","Lng", "Max Temp", "Current Description"]

In [7]:
usa_vacation_df = usa_vacation_df[new_column_order]
usa_vacation_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
5,23,Russell,US,32.3502,-85.1999,51.40,clear sky
20,71,Lompoc,US,34.6391,-120.4579,63.79,scattered clouds
30,131,Saint George,US,37.1041,-113.5841,66.79,clear sky
50,212,Laguna,US,38.4210,-121.4238,66.76,clear sky
51,213,Seminole,US,28.7086,-81.2081,57.56,clear sky
67,284,Portland,US,45.5234,-122.6762,51.91,overcast clouds
68,291,La Palma,US,33.8464,-118.0467,69.91,clear sky
69,303,San Ramon,US,37.7799,-121.9780,60.93,clear sky
71,317,Prescott,US,34.5400,-112.4685,55.27,clear sky
79,373,Magalia,US,39.8121,-121.5783,58.55,scattered clouds

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

start = float(input("What is your Starting City_ID from US List you would like for your trip? "))
stop1 = float(input("What is your First Stop City_ID from US List you would like for your trip? "))
stop2 = float(input("What is your Second Stop City_ID from US List you would like for your trip? "))
stop3 = float(input("What is your Thirth Stop City_ID from US List you would like for your trip? "))
end = float(input("What is your Last City_ID from US List you would like for your trip? "))

What is your Starting City_ID from US List you would like for your trip? 373
What is your First Stop City_ID from US List you would like for your trip? 317
What is your Second Stop City_ID from US List you would like for your trip? 303
What is your Thirth Stop City_ID from US List you would like for your trip? 291
What is your Last City_ID from US List you would like for your trip? 373

In [9]:

vacation_start = usa_vacation_df.loc[(usa_vacation_df["City_ID"] == start)]
vacation_start = vacation_start.iloc[0]

vacation_stop1 = usa_vacation_df.loc[(usa_vacation_df["City_ID"] == stop1)]
vacation_stop1 = vacation_stop1.iloc[0]

vacation_stop2 = usa_vacation_df.loc[(usa_vacation_df["City_ID"] == stop2)]
vacation_stop2 = vacation_stop2.iloc[0]

vacation_stop3 = usa_vacation_df.loc[(usa_vacation_df["City_ID"] == stop3)] 
vacation_stop3 = vacation_stop3.iloc[0]

vacation_end = usa_vacation_df.loc[(usa_vacation_df["City_ID"] == end)]
vacation_end = vacation_end.iloc[0]

print("your starting destination is " + vacation_start["City"] + ", " + vacation_start["Country"])
print("your first stop is " + vacation_stop1["City"] + ", " + vacation_stop1["Country"])
print("your second stop is " + vacation_stop2["City"] + ", " + vacation_stop2["Country"])
print("your third stop is " + vacation_stop3["City"] + ", " + vacation_stop3["Country"])
print("your last stop is " + vacation_end["City"] + ", " + vacation_end["Country"])

your starting destination is Magalia, US
your first stop is Prescott, US
your second stop is San Ramon, US
your third stop is La Palma, US
your last stop is Magalia, US

In [10]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]]
print(start)

Lat     39.8121
Lng   -121.5783
Name: 79, dtype: object

In [11]:
end = vacation_end[["Lat", "Lng"]]
print(end)

Lat     39.8121
Lng   -121.5783
Name: 79, dtype: object

In [12]:
stop1 = vacation_stop1[["Lat", "Lng"]]
print(stop1)

Lat       34.54
Lng   -112.4685
Name: 71, dtype: object

In [13]:
stop2 = vacation_stop2[["Lat", "Lng"]]
print(stop2)

Lat    37.7799
Lng   -121.978
Name: 69, dtype: object

In [14]:
stop3 = vacation_stop3[["Lat", "Lng"]]
print(stop3)

Lat     33.8464
Lng   -118.0467
Name: 68, dtype: object

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
gmaps.configure(api_key=Google_API_KEY)

start = (39.8121, -121.5783)
stop1 = (34.54, -112.4685)
stop2 = (37.7799, -121.978)
stop3 = (33.8464, -118.0467)
end = (39.8121, -121.5783)

fig = gmaps.figure()
start2endftstops = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode = "DRIVING")
fig.add_layer(start2endftstops)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True, axis=1)
itinerary_df = itinerary_df.T
itinerary_df

  City_ID       City Country      Lat       Lng Max Temp Current Description
0     373    Magalia      US  39.8121 -121.5783    58.55    scattered clouds
1     317   Prescott      US    34.54 -112.4685    55.27           clear sky
2     303  San Ramon      US  37.7799  -121.978    60.93           clear sky
3     291   La Palma      US  33.8464 -118.0467    69.91           clear sky
4     373    Magalia      US  39.8121 -121.5783    58.55    scattered clouds

In [26]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
mark_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map.
city_mark = itinerary_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=mark_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))